<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error-404</title>
    <!-- <link rel="stylesheet" href="/static/css/error.css"> -->
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', cursive;
}
body {
      background: linear-gradient(90deg, #9c8080 38%, #653d3d 100%,#000000 0%);
      padding: 0px;
      margin: 0;
      font-family:'Times New Roman', Times, serif;
}
.alert
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alert-success
{
    width: 400px;
    height: 106px;
    border: 2px solid green;
    background-color: lightgreen;
    margin-top: 300px;
    text-align: center;
    color: black;
    text-shadow: none;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-danger
{
    width: 400px;
    height: 106px;
    border: 10px solid red;
    background-color: lightcoral;
    margin-top: 300px;
    text-align: center;
    color: black;
    text-shadow: none;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* body::before{
    content: " ";
    background:url('public/img/404-error.jpg')no-repeat center/cover;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 1;
  } */
  @media screen and (max-width:496px)
  {
    .alert-success
    {
        width: 250px;
    }
    .alert-danger
    {
        width: 250px;
    }
  }
  .manubtn{
font-weight: bold;
font-size: 20px;
background-color:#ffffff;
opacity: 0.75;
color:rgb(110, 62, 46) ;
margin: 20px;
border-radius: 12px;
padding:5px;
width: 124px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.manubtnA{
font-weight: bold;
font-size: 10px;
background-color:#ffffff;
opacity: 0.75;
color: rgb(110, 62, 46);
margin: 20px;
border-radius: 12px;
padding:5px;
width: 50px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
</style>
</head>

<body>
    <div class="alert">
        <% if (message != "") { %>
        <div class="alert-success">
            <%= message %><br>
            <form action="/backa" method="post" class="manubtn">
               <input type="submit" name="submit" value="Okay">
            </form>
        </div>
        <% } %>
        
        <% if (error != "") { %>
        <div class="alert-danger">
            <%= error %><br>
            <form action="/backd" method="post" class="manubtn">
                <input type="submit" name="submit" value="Try Again">
             </form>
        </div>
        <% } %>
    </div>
</body>

</html>