<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Human</title>
</head>
<body>
    <h1>Welcome <%=username%></h1>
        
        Join us in Mavis's birthday party celebrations in Hotel Transylvania!
        Book your room here-
        <form action="/humang" method="post">
            General room-Two double beds + One single bed.
            <button type="submit" class="box">Book Room</button><br><br>
        </form>
</body>
</html>