<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    
</head>

<body>

    <h1>Welcome <%=username%></h1>
       

        <form action="/reqg" method="post">
            General room-Two double beds + One single bed.
            <button type="submit" class="box">Book Room</button><br><br>
        </form>
        <form action="/reqs" method="post">
            Special Rooms- Three Double beds + Two Single Beds
            <button type="login" class="box">Request!</button>
        </form>
    
</body>

</html>