<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dear Monsters!</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter&family=Macondo&family=Playfair+Display&family=Roboto+Flex:opsz@8..144&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/stylesmonsterhuman.css.css" />
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#!">
                <h1>Welcome <%=username%></h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="py-5 bg-image-full" style="background-image: url('/img/speroom-2.jpg')">
        <div class="text-center my-5">
            <!-- <img class="img-fluid rounded-circle mb-4" src="/img/hotel.jpg" alt="..." /> -->

            <section class="py-5-6">
                <div class="container my-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <h2 class="manu">
                                General Rooms
                            </h2>
                            <p class="lead manu">Two double beds + One single bed.</p>
                            <p class="mb-0 manu">The perefect get-away from the human world resides in these rooms under the
                                roof of our Hotel Transylvania! </p>
                            <form action="/reqg" method="post">
                                <button type="submit" class="manubtn">Book Here!</button><br><br>
                            </form>
                        </div>
                    </div>
                </div>
            </section>


        </div>
    </header>



    <section class="py-5-6">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h3>
                        Too small for you? Keep scrolling!
                    </h3>

                </div>
            </div>
        </div>
    </section>


    <header class="py-5 bg-image-full" style="background-image: url('/img/room-2.jpg')">
        <div class="text-center my-5">
            <!-- <img class="img-fluid rounded-circle mb-4" src="/img/hotel.jpg" alt="..." /> -->

            <section class="py-5-6">
                <div class="container my-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <h2 class="manu">
                                Special Rooms
                            </h2>
                            <p class="lead manu">Three Double beds + Two Single Beds</p>
                            <p class="mb-0 manu">Too large a family to accomodate? Well, worry not! We've got you covered with our
                                deluxe special rooms reserved only for monsters. Only a request away! </p>
                            <form action="/reqs" method="post">
                                <button type="submit" class="manubtn">Request!</button><br><br>
                            </form>
                        </div>
                    </div>
                </div>
            </section>


        </div>
    </header>


  

    <footer class="py-5-6 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white"> Hotel Transylavia</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>

    <!-- <form action="/reqg" method="post">
        General room-Two double beds + One single bed.
        <button type="submit" class="box">Book Room</button><br><br>
    </form>
    <form action="/reqs" method="post">
        Special Rooms- Three Double beds + Two Single Beds
        <button type="login" class="box">Request!</button>
    </form> -->

</body>

</html>